@import "tailwindcss";

html {
  background-color: var(--bg-wrap);
}

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);

  --main-bg: rgb(21, 21, 21);
  --bg-wrap: rgb(13, 13, 13);

  /* button  */
  --btn-bg-black: rgb(34, 34, 34);
  --btn-bg-green: rgb(0, 201, 80);

  /* text */
  --text-zinc: rgb(212, 212, 216);
  --text-error: rgb(231, 0, 11);

  /* icon */

  --greenIcon: rgb(0, 130, 53);
  --greenIconHover: rgb(0, 166, 62);
}
